{% extends "layout/base.html" %}


{% block title %}软件主页 | 吴江-招聘网 | wj-zpw.com{% endblock %}


{% block content %}

    <div class="row-fluid machine_list">
        <ul class="thumbnails">
            {% for machine in machines %}
                <li class="span2">
                    <div class="thumbnail">

                        <div class="caption">
                            <p>
                                <span class="label label-important">
                                    {{ machine.no }}&nbsp;-&nbsp;{{ machine.type }}
                                </span>
                            </p>
                            <p>
                                <span class="label label-info">正做布种</span>
                                <label class="span2">雪纺</label>
                            </p>
                            <p>
                                <span class="label label-info">原料</span>
                                <label class="span2">{{ machine.material }}</label>
                            </p>
                            <p>
                                <span class="label label-info">头纹</span>
                                <label class="span2">{{ machine.tou_wen }}</label>
                            </p>
                            <p>
                                <span class="label label-info">经纬长度</span>
                                <label class="span2">{{ machine.length }}</label>
                            </p>
                            <p>
                                <span class="label label-info">车速</span>
                                <label class="span2">{{ machine.speed }}</label>
                            </p>
                            <p>
                                <span class="label label-info">纬密</span>
                                <label class="span2">{{ machine.wei_mi }}</label>
                            </p>
                            <p>
                                <span class="label label-info">预计日产量</span>
                                <label class="span2">{{ machine.daily_output_estimated }}</label>
                            </p>
                            <p>
                                <span class="label label-info">上机时间</span>
                                <label class="span2">{{ machine.start_time }}</label>
                            </p>
                            <p>
                                <span class="label label-info">预计下机时间</span>
                                <label class="span2">{{ machine.end_time_estimated|default_if_none:"暂无" }}</label>
                            </p>
                            <p>
                                <span class="label label-info">备注</span>
                                <label class="span2">{{ machine.remark|default:"暂无" }}</label>
                            </p>
                        </div>
                    </div>
              </li>

            {% endfor %}







            </ul>
          </div>

{% endblock %}

