{% extends "layout/base.html" %}


{% block title %}软件主页 | 吴江-招聘网 | wj-zpw.com{% endblock %}


{% block content %}

    <div class="pagination">
        <ul>
            {% if page_machines.has_previous %}
                <li><a href="?page={{ page_machines.previous_page_number }}">«</a></li>
            {% else %}
                <li><a href="#">«</a></li>
            {% endif %}


            {% for page_no in page_machines.paginator.page_range %}
                <li><a href="?page={{ page_no }}">{{ page_no }}</a></li>
            {% endfor %}

            {% if page_machines.has_next %}
                <li><a href="?page={{ page_machines.next_page_number }}">»</a></li>
            {% else %}
                <li><a href="#">»</a></li>
            {% endif %}

        </ul>
    </div>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>机号</th>
                <th>种类</th>
                <th>正做布种</th>
                <th>上机时间</th>
                <th>预计下机时间</th>
            </tr>
        </thead>
        <tbody>

            {% for machine in page_machines %}
                <tr {% if machine.error %}class="error"{% elif machine.warn %}class="warning"{% endif %}>
                    <td><a style="text-decoration: underline" target="_blank"
                           href="/admin/core/machine/{{ machine.id }}/"> {{ machine.no }} </a></td>
                    <td>{{ machine.type }}</td>
                    <td>{{ machine.product }}</td>
                    <td>{{ machine.start_time }}</td>
                    <td>{{ machine.end_time_estimated|default_if_none:"暂无" }}</td>
                </tr>
            {% endfor %}

        </tbody>

    </table>

    <p>
        <span class="label label-info">注意!</span>
        点击机号可查看织机详细信息
    </p>
{% endblock %}

