{% extends "layout/base.html" %}


{% block title %}鑫旺升喷水织机基本运转状况 | 吴江-招聘网 | wj-zpw.com{% endblock %}


{% block content %}

    <form id="searchForm" class="form-inline" action="/">
        <input type="text" name="no" class="form-control" placeholder="机号" value="{{ no }}" style="width: 100px;">
        <select name="product" class="span2">
            <option value="">请选择</option>
            {% for product in products %}
                <option value="{{ product.id }}"
                        {% if  product.id == product_id %}selected="selected" {% endif %}>{{ product.name }}</option>
            {% endfor %}
        </select>
        <div class="input-append date" id="dp3" data-date="2013-08-01" data-date-format="yyyy-mm-dd">
            <input class="span2" size="16" name="start_date" type="text" readonly="">
            <span class="add-on"><i class="icon-calendar"></i></span>
	    </div>
        <button id="submit" type="submit" class="btn btn-default">搜索</button>

        <div class="pagination">
            <ul>
                {% if page_machines.has_previous %}
                    <li><a href="javascript:void(0)" class="page"
                           onclick="return goToPage({{ page_machines.previous_page_number }})"
                           page="{{ page_machines.previous_page_number }}">«</a></li>
                {% else %}
                    <li><a href="#">«</a></li>
                {% endif %}


                {% for page_no in page_machines.paginator.page_range %}
                    <li><a href="javascript:void(0)" class="page" onclick="return goToPage({{ page_no }})"
                           page="{{ page_no }}">{{ page_no }}</a></li>
                {% endfor %}

                {% if page_machines.has_next %}
                    <li><a href="javascript:void(0)" class="page"
                           onclick="return goToPage({{ page_machines.next_page_number }})">»</a></li>
                {% else %}
                    <li><a href="#">»</a></li>
                {% endif %}

            </ul>
        </div>
    </form>


    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>机号</th>
                <th>种类</th>
                <th>正做布种</th>
                <th>车速</th>
                <th>效率</th>
                <th>预计已有产量</th>
                <th>上机时间</th>
                <th>预计下机时间</th>
            </tr>
        </thead>
        <tbody>

            {% for machine in page_machines %}
                <tr {% if machine.error %}class="error"{% elif machine.warn %}class="warning"{% endif %}>
                    <td><a style="text-decoration: underline" target="_blank"
                           href="/admin/core/machine/{{ machine.id }}/"> {{ machine.no }} </a></td>
                    <td>{{ machine.type }}</td>
                    <td>{{ machine.product }}</td>
                    <td>{{ machine.speed }}</td>
                    <td>{{ machine.efficiency|default:"暂无" }}</td>
                    <td>{{ machine.output_estimated|floatformat:2|default:"暂无" }}</td>
                    <td>{{ machine.start_time }}</td>
                    <td>{{ machine.end_time_estimated|default_if_none:"暂无" }}</td>
                </tr>
            {% endfor %}

        </tbody>

    </table>

    <p>
        <span class="label label-info">注意!</span>
        点击机号可查看织机详细信息
    </p>
    {% block js %}
        <script type="text/javascript">

            $('#dp3').datepicker();
        </script>
    {% endblock %}
{% endblock %}

